@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
html{
    font-size: 10px;
}
body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    display: flex;
    justify-content: center;
}
main{
    background-color: #FFFFFF;
    max-width: 100rem; 
    display: flex;
}
.main_header{
    position: absolute;
    top: 1vw;
    z-index: 1;
    margin: 2rem 0rem 0rem 5rem; 
}   
.main_form{
    background-image: url(../img/Stroke5.png);
    background-repeat: no-repeat;
   /*   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;*/
    padding-left: 11%;
    width: 55%;
}
.main_background{
    display: flex;
    position: absolute;
}
form{
        box-shadow: rgba(204, 204, 204, 0.1);
}
h1{
    margin: 10rem 0 .5rem 0rem;
    font-size: 2rem;
    text-align: center;
}
/*  div{
    margin: 2rem 0rem 1rem 0rem;
}*/
.block_main{
     overflow: auto;
}
label{
    font-size: 1.6rem;
    padding-bottom: .3rem;
    display: block;
    padding-bottom: .5rem;
    padding-top: 1rem;
}
input, p, span, .placeholder{
    font-size: 1.2rem;
    font-weight: 400;
    color:black;
    margin: 0;
}
input, option, select{
    border: .1rem solid rgba(204, 204, 204, 1);
    box-shadow: rgba(204, 204, 204, 0.1);
    width: 35rem;
    height: 2.5rem;
}
.select {
    width: 30rem;
}
button{
    margin-top: 10rem;
    width: 35.5rem;
    background: #27485D;
    font-size: 1.6rem;
    color: #FFFFFF;
    text-align: center;
}
.user{
    color: #C4C4C4;
    font-size: 1.6rem;
    margin: 0.5rem 10rem 5rem 0rem;
    text-align: center;
}
 /*.submit{
     width: 35.5rem;
    background: #27485D;
    font-size: 1.6rem;
    color: #FFFFFF;
    text-align: center;}*/
a{
    color: #476D73;
}
.text{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow:0rem 0rem 1rem #4e7577;
}
.text_top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
ul{
    font-size: 1.6rem;
    list-style-type: none;
    margin: 2vw 0 0 0;

}
ul, .citation, .citation_name, .text_top-btn{
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
} 
ul a{
    color: #FFFFFF;
}
li{ display: inline-flex;
    padding-right: 2rem;
}
.citation{
    font-size: 4.8rem;
    text-shadow:.2rem .2rem .1rem #51799a;
    text-align: center;
    padding-top: 15vw;
}
.citation_name{ 
    position: relative;
    font-size: 1.6rem;
    padding-left: 5vw;
}