/* @-вставка стилів тексту*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap');

html{
    font-size: 10px;
}
body{
    margin: 0rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    background-color: #F5F5F5;;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header_top{ 
    background-color: #202846;
    height: 9rem;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    overflow: hidden;
    width: 100%;
    
}
.header_top-logo{
    position: relative;
    padding-top: 1rem;
    padding-left: 10rem ;
}
.header_top-list{
    width: 70%;
    font-size:  2.4rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 15%;
}
dt{
    justify-content: space-between;
    align-items: stretch;   
}
a {
    color: #FFFFFF;
    font-size:  2.4rem;
    font-weight: 700;
    text-decoration: none;
}
a:hover{
    border: .5rem solid aliceblue;
    color: #AEAEE2
}
.header_top-land{
    border: none;
}
.header_name{
    background-color: rgba(198, 198, 220, 1);
    height: 14rem;
    font-style: italic;
    font-size: 4.8rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
main{
    padding-bottom: 15rem;
}
.main_position{
    /*замінити код на випадаюче вікно після вивчення даного елементу*/
    background-color: #E8E8E8;
    height: 7.3rem;
    text-align: center;
    padding-top: 2rem;
    box-sizing: border-box;
}
.card {
    background-color: hsl(240, 7%, 76%);
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;   
}
.card:hover{
    background-color: rgba(174, 174, 226, 1);
}
.build{
    width: 80%;
    margin: 0 auto;
    padding-block: 2rem;
}
.build_footer{
    width:70%;
    margin: 0 auto;
    padding-block: 3rem;
}
.card-img{
    height: 80%;
    width: 35%;
    overflow: hidden;
}
.card-img img{
   height: 100%;  
}
.card_content{
    width: 50%;
    height: 80%;
}
.card_content-title{ 
    border-bottom: .33rem solid #353C57;
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
}
.card_content-sabtitle {
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;  
}
.card_buttom, .card_star{
    position: absolute;
}
.card_buttom{
    background-color: #202846;
    color: white;
    width: 20rem;
    text-decoration: none;
    bottom: 1rem;
    right: -5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 3rem;
}
.card_buttom:hover{
   background:rgba(239, 7, 91, 1);
}
/* колір зірки змінюється лише по елементу, середина не заливається*/
.card_star{
    right: 1rem ;
    top: 1rem;
}
.card_star:hover{
    fill-opacity: .5; 
    fill: rgba(255, 255, 0, 1);
    stroke: rgba(255, 255, 0, 1);
    transition: all 0.9s ;
}
 #fixed-div{
    background-color: rgb(85, 87, 104, 0.62);
    width: 10.1rem;
    height: 10.1rem;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    transition: all 0.5s;
    z-index: 1;
}
#fixed-div:hover{
    background-color:  rgba(85, 87, 104, 1);
}
.footer_personal{
    padding-top: 9rem;
}
.footer_card{
    background-color: hsl(240, 7%, 76%);
    height: 50rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;   
    padding-bottom: 1rem;
   }
.footer_card-block{
    height: 70%;
    width: 15%;
}
.build_footer-btm{
    background-color: #484A54;
    border-radius: 3rem;
    color: white;
    width: 20rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-align: center;
    margin-top: 3rem;
}
.build_footer-btm:hover{
    background: #69749B;
}
.footer_cart-detalis{
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    color: #353C57
}
.footer_card-line{
    border-bottom: .3rem solid #FFFFFF;
    padding: 1.5rem;
}
.footer_buttom{
    background-color: #202846;
    color: white;
    width: 20rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin-inline: 45%;
    margin-bottom: 13rem;
    border-radius: 3rem;
    text-align: center;
}
.footer_contacts{
    display: inline-flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;   
    width: 70%;
    margin-inline: 15%;
    padding-top: 6.3rem;
    font-size: 3.2rem;
}
.footer_contacts-style{
    font-size: 3rem;
    color: #000000;
    font-weight: 400;
}
.bottom{
    background-color: #202846;
    height: 9rem;
    font-style: italic;
    font-size: 3.6rem;
    color: #EEECF1;
    align-items: center;
    margin-top: 6.4rem;
    padding: 1.5% 10%;
    box-sizing: border-box;
}