@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap');

html {
    font-size: 8px;
}

body {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    color: black;
    margin: 0 auto;
    /*    max-width: 140rem;*/
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.header {
    background-color: black;
    min-height: 8vh;
    box-sizing: border-box;
    display: flex;
}

.build {
    min-height: 90vh;

}

.logo {
    background-color: #E5E5E5;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: start;
    max-width: 25%;
}

 /*.logo img {
    doesent work =? 
    height: 100%;
    text-align: center;
}*/

.nav {
    display: flex;
    align-items: center;
    color: white;
    width: 75%;
}

.nav_position {
    display: flex;
    flex-direction: row;
    padding-right: 0rem;
    width: 100%;
    justify-content: flex-end;
}

.nav_position li {
    padding-left: 2rem;
}

.nav_position li a {
    color: white;
    font-size: 4rem;
    font-style: italic;
}

.page1,
.page2,
.page3,
.page4 {
    display: flex;
    min-height: 90vh;
    padding-top: 7vw;
    box-sizing: border-box;

}

.page1 {
    padding: 7% 0%;
    text-align: center;
    overflow: hidden;
}

.page1_block1-left, .page1_block1-right {
    width: 20%;
    position: relative;
   
}

.page1_block2-left, .page1_block2-right {
    width: 30%;
    position: relative;
}

.page1_block1-left img {
    width: 90%;
    padding: 50% 0;
}
.page1_block1-right img{
    width: 90%;
    padding: 50% 0;
}

.page1_block2-left img{
    width: 95%;
    padding: 5% 0;
}
.page1_block2-right img{
    width: 95%;
    padding: 5% 0;
}

/* animations page 1  */
.page1 div:nth-child(2) {
    animation: block_1-left 1s linear forwards;

}

@keyframes block_1-left {
    from {
        left: -100vw;
    }

    to {
        left: 0vw;
    }
}

.page1 div:nth-child(3) {
    animation: block_1-right 1s linear forwards;

}

@keyframes block_1-right {
    from {
        right: -100vw;
    }

    to {
        right: 0vw;
    }
}

/* подумати, як зробити, щоб при виході першої анімації не було видно 2Ї анімації
*/
.page1 div:nth-child(1){
    transform: rotateX(-100vw); 
    animation: block_2-left 1s linear forwards;
    animation-delay: 1s;
   
}
@keyframes block_2-left{
   from {left: -100vw; }
   to   { left: 0vw; }
}
.page1 div:nth-child(4){
    transform: rotateX(100vw);
    animation: block_2-right 1s linear forwards;
    animation-delay: 1s;
    
}
@keyframes block_2-right{
   from { left: 100vw; }
   to   { left: 0vw; }
} 

.page2_animation {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 3.3rem;
    font-style: italic;
}

.page2_animation div {
    width: 45%;
    display: inline-block;
    padding: 3% 2%;
    box-sizing: border-box;
    position: relative;
}

/*  animation page_2*/
.page2_animation div:nth-child(1) {
    animation: hair_st 5s infinite;
}

.page2_animation div:nth-child(2) {
    animation: beard_tr 5s infinite;
}

.page2_animation div:nth-child(4) {
    animation: hair_str 5s infinite;
}

.page2_animation div:nth-child(3) {
    animation: smooth_sht 5s infinite
}

@keyframes hair_st {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 50%;
        top: 0;
    }

    50% {
        left: 50%;
        top: 50%;
    }

    75% {
        left: 0;
        top: 50%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes beard_tr {
    0% {
        left: 0%;
        top: 0;
    }

    25% {
        left: 0%;
        top: 50%;
    }

    50% {
        left: -50%;
        top: 50%;
    }

    75% {
        left: -50%;
        top: 0%;
    }

    100% {
        left: 0%;
        top: 0%;
    }
}

@keyframes hair_str {
    0% {
        left: 0%;
        top: 0%;
    }

    25% {
        left: -50%;
        top: 0%;
    }

    50% {
        left: -50%;
        top: -50%;
    }

    75% {
        left: 0%;
        top: -50%;
    }

    100% {
        left: 0%;
        top: 0%;
    }
}

@keyframes smooth_sht {
    0% {
        left: 0%;
        top: 0%;
    }

    25% {
        left: 0%;
        top: -50%;
    }

    50% {
        left: 50%;
        top: -50%;
    }

    75% {
        left: 50%;
        top: 0%;
    }

    100% {
        left: 0%;
        top: 0%;
    }
}

.page2_animation img {
    width: 85%;
}

.page2_animation p {
    margin: 1%;
}

.page2_main {
    width: 50%;
}

.page2_main img {
    max-width: 100%;
}

/* page 3*/

.page3,
.page4 {
    display: block;
}

.page3_header {
    font-size: 9.6rem;
    margin: 5% auto 1%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.team {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    padding: 4% 0;
    box-sizing: border-box;
}

.team_card {
    width: 23%;
    min-height: 40rem;
    display: block;
    position: relative;
}

.team img {
    width: 99%;
}

.team_name {
    background-color: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 4rem 4rem;
    font-family: 'Volkhov', serif;
    color: black;
    font-size: 4.8rem;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 0%;
    transition: height 1s;
    opacity: 0;
}

.team:hover .team_card {
    filter: brightness(.5);
}

.team > .team_card:hover{
    filter: none;
}

.team > .team_card:hover .team_name{
    height: 20%;
    opacity: 1;
}

/* footer */
.page4_top {
    display: flex;
    padding-top: 7.5%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.page4_top-form {
    width: 50%;
}

.page4_top-map {
    width: 35%;
}

.legend {
    font-size: 6.4rem;
    font-style: italic;
    text-align: center;
    padding: 0 0 5% 0;
}

form {
    background-color: #E5E5E5;
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
    font-family: 'Rosario', sans-serif;
}

input,
textarea {
    border: 0 solid white;
    padding: 2%;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);
}

.form_info {
    display: flex;
    justify-content: space-evenly;
}

input[type="text"] {
    width: 85%;
    margin-bottom: 8%;
}

textarea {
    width: 98%;
    height: 17rem;
    resize: none;
}

iframe {
    width: 100%;
}

.page4_btm {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    text-align: center;
    margin: 4% 5% 0;
}

.page4_btm-adress {
    width: 33.4;
}

.page4_btm-adress a {
    font-weight: 600;
}

.page4_btm-openning {
    width: 28.6;
}

.openning_hours {
    font-size: 3rem;
    margin-block-end: 2rem;
}

.page4_btm-network {
    width: 23%;
}

.page4_btm p {
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.page4_btm-network img {
    width: 2.6rem;
    height: 2.6rem;
    text-align: justify;
}

svg {
    width: 2.6rem;
    height: 2.6rem;
    text-align: justify;

}