@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    min-width: 80rem;
    color: #FFFFFF;
}

.black_board,
.black_bord-text {
    background-color: black;
}

.size {
    min-width: 80rem;
    max-width: 140rem;
}

.text_top {
    display: flex;
}

.text-logo {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2.6rem;
    margin: 1% 12%;
    box-sizing: border-box;
}

.text-go {
    margin-top: 1.2rem;
    padding-left: 24%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    padding-top: 3rem;
}

dl {
    justify-content: space-around;
    display: inline-flex;
    list-style-type: none;
}

dt {
    padding-left: 5rem;
}

dl :hover {
    color: #F6AD09;
}

.text_top-title {
    margin: 0rem auto;
    width: 76%;
    display: flex;
    overflow-wrap: break-word;
    position: relative;
}

.text-main {
    font-size: 4.4rem;
    width: 50%;
    padding-top: 10rem;
}

span {
    color: #F6AD09;
}

.text-subt {
    font-size: 2.2rem;
    padding: 5rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
    box-sizing: border-box;
}

.text-btm {
    background-color: #F6AD09;
    height: 4rem;
    width: 20rem;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 1.4rem;
    margin-bottom: 7rem;
}

.text-btm :hover {
    font-size: larger;
}

.img-main {
    display: flex;
    position: absolute;
    top: 0rem;
    right: -8rem;
    width: 50%;
    height: 66rem;
}

.h1 {
    font-size: 5rem;
    width: 50%;
    color: #111111;
    margin: 7% 12%;
    box-sizing: border-box;
}
.main_card {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    color: #111111;
    font-size: 2.5rem;
    text-align: center;
    min-width: 80rem;
    max-width: 140rem;
    margin: 0% 13%;
}
.main_card-img {
    width: 30%;
    overflow: hidden;
}
.main_card-img_width {
    width: 100%;
}
.main_card ul::after {
    list-style: square;
    list-style-type: square;
    color: #F6AD09;
}
ul {
    justify-content: space-around;
    display: inline-flex;
    list-style-type: square;
    color: #F6AD09;
    width: 100%;
    margin-block-end: 0;

}
.main_card li {
    width: 28.5%;
}
.main_card span {
    color: #111111;
}

.main_card-price ul {
    list-style-type: none;
}

.main_card-price li {
    width: 32%;
}

.main_card-price span {
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.build {
    background-color: #111111;
    margin-top: 15rem;
    display: flex;
    position: relative;
}

.block_2 {
    width: 34%;
    position: relative;
    padding-left: 12%;
}

.block_2-top {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    color: #B2B2B2;
    padding-top: 7rem;
    margin: 5rem auto;
}

.text-color {
    color: #F6AD09;
    font-size: 2.2rem;
    border-bottom: .3rem solid #F6AD09;
    width: 25rem;
}

.ul {
    font-size: 2.2rem;
    font-weight: 500;
}

.ul ul::after {
    list-style: square;
    list-style-type: square;
    color: #F6AD09;
}

.ul span {
    color: #FFFFFF;
}

.block_2-img {
    display: inline-flex;
    position: absolute;
    top: -8rem;
    right: -8rem;
    width: 55%;
    height: 88rem;
    overflow: hidden;
}

.none {
    color: #B2B2B2;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    position: relative;
    padding: 0 0rem 4rem 0;
    padding-inline-start: 0;
}

.brands_roll-1,
.brands_roll-2 {
    display: flex;
    justify-content: space-between;
    margin: 1% 8%
}

.brands_roll-img {
    width: 24%;
}

.citation {
    margin: 8% auto 0%;
    display: flex;
}

.citation_left {
    width: 50%;
    display: inline-block;
}

.citation_left-img {
    width: 100%
}

.citation_right {
    width: 50%;
    background: #F6AD09;
}

.citation_right-title {
    font-family: 'Merriweather', serif;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 900;
    margin: 35% 20% 1% 13%;
    color: #332200;
}

.citation_right-name {
    color: #664400;
    font-size: 1.6rem;
    margin-left: 13%;
}

.board-price {
    background: #161616;
    height: max-content;
}

.box_price {
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    margin-top: 7.3rem;
    padding-bottom: 5%;
}
.board-price-h{
    font-size: 4.4rem;
    width: 50%;
    padding-top: 10rem;
    padding-left: 13%;
}
.box_price-card {
    display: flex;
    background-color: #000000;
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 500;
    width: 30rem;
    height: 38rem;
    justify-content: space-between;
}
.box_price-card :hover{
    width: 44.5rem;
    height: 44.5rem;
}

.box_price-card_l {
    width: 70%;
    padding-left: 5%;

}
.card_l-txt{
    padding: 10% 0% 0% 28%;
    font-size: 2.6rem;
    color: #9C9C9C;
}
.card_l-desc {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.3rem;
}
/* маркери попереду списків  - */
dd::before {
    content: "";
    background-image: url(../img/Rectangle57.png);
     width: 15px;
    height: 5px;
    display: block;
   /*  text-align: center;
    font-size: 30px;
    margin-right: 1rem;*/
}
.card_l-btm{
    position: absolute;
    background: #2E2E2E;
    color: #CCCCCC;
    width: 15rem;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    margin: 9% 0% 0% 4%;
    
}
.box_price-card_r{
    width: 30%;
    position: relative;
    justify-content: end;
}
.card_r-money{
    font-size: 2.6rem;
    margin: 49% 0% 0% 0%;
}
.card_r-comm{
    font-size: 1rem;
    margin: -5% 52% 0%;
    color: #9C9C9C;
}
