@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 8px;
}

body {
    margin: 0 auto;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: #FFFFFF;
}

a :hover {
    color: #F6AD09;
}

span {
    color: #F6AD09;
}
ul{
    list-style-type: none;
    color: white;
}

.header {
    display: flex;
    background-color: black;
    max-height: 9vh;
    font-weight: 500;
}

.logo {
    max-width: 35%;
    position: relative;
    font-size: 3.6rem;
    padding: 1% 10%;
}

.navigation {
    width: 65%;
    justify-content: space-between;
    position: relative;
}

.navigation ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
}

.navigation li {
    padding: 5% 7%;
}

.navigation a {
    font-size: 1.8rem;
}

.navigation :hover {
    color: #F6AD09;
}

/* page1 */
.page2,
.page4 {
    width: 90vw;
    margin: 0 auto;
}

.page1,
.page3 {
    background-color: black;
    display: flex;
    max-height: 90vh;
    margin-bottom: 8%;

}

.text {
    width: 50%;
    padding: 0% 5% 0 10%;
    box-sizing: border-box;
}

.text_main {
    font-size: 6.4rem;
}

.text:nth-child(1) {
    padding-top: 6%;
}

.text_h2 {
    font-size: 2.4rem;
    font-weight: 400;
    color: #B2B2B2;
    padding: 1% 0;
    box-sizing: border-box;
}

.text_btn {
    font-size: 1.8rem;
    background-color: #F6AD09;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 40%;
    text-align: center;
}

.img {
    width: 50%;
    position: relative;
}

.img img {
    max-width: 80%;
}


/* page 2  */
.page2 .text_main {
    color: black;
    margin: 0 5%;
}

.page2_catalog {
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 2%;
}

.page2_catalog p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.page2_catalog img {
    width: 99%;
}

.page2_catalog_frst,
.page2_catalog_sec,
.page2_catalog_third {
    width: 30%;
}

.catalog_descr,
.adver_catalog-titel {
    font-size: 3.2rem;
    position: relative;
    padding-left: 3rem;
}

.catalog_descr::before {
    content: "";
    /* В любом случае необходим, даже пустой. Иначе не будет работать */
    width: 2rem;
    height: 1rem;
    background-image: url('../../img/Rectangle57.png');
    display: block;
    position: absolute;
    top: 1.7rem;
    left: 0;
}

.catalog_price {
    font-size: 1.8rem;
    padding-left: 3rem;
}

/* page3 */
.page3 {
    max-height: fit-content;
}

.text_grey {
    font-weight: 500;
    font-size: 2.4rem;
    color: #B2B2B2;
}

.text_link a {
    color: #F6AD09;
    font-size: 2.4rem;
    border-bottom: .4rem solid #F6AD09;
}

.page3 .text:nth-child(1) {
    padding-top: 2%;
}

.page3 .text:nth-child(2) {
    padding-top: 1.5%;
}

pre {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.text_adver {
    display: flex;
    justify-content: space-between;
}

.text_adver_catalog {
    width: 47%;
}

.adver_catalog-titel {
    font-size: 2.4rem;
}

.adver_catalog-titel::before {
    content: "";
    /* В любом случае необходим, даже пустой. Иначе не будет работать */
    width: 2rem;
    height: 1rem;
    background-image: url('../../img/Rectangle57.png');
    display: block;
    position: absolute;
    top: 1.7rem;
    left: 0;
}

.adver_catalog-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

/* page 4 -brands */
.page2_brands{
    margin-top: 5%;
}
.brands_roll-1,
.brands_roll-2 {
    display: flex;
    justify-content: space-between;
    margin: 1% 1%
}

.brands_roll-img {
    width: 24%;
}

/* блок з цитатою */
.citation {
    margin: 8% auto 0%;
    display: flex;
}

.citation_left {
    width: 50%;
    display: inline-block;
}

.citation_left-img {
    width: 100%
}

.citation_right {
    width: 50%;
    background: #F6AD09;
}

.citation_right-title {
    font-family: 'Merriweather', serif;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 900;
    margin: 35% 20% 1% 13%;
    color: #332200;
}

.citation_right-title::before {
    content: url('../../img/“\ 1.png');
    width: 2rem;
    height: 1rem;
    display: block;
    position: relative;
    top: -.5rem;
    left: -4rem;
}
.citation_right-title::after {
    content: url('../../img/“\ 2.png');
    width: 2rem;
    height: 1rem;
    display: block;
    position: relative;
    top: -1.7rem;
    left: 11.5rem;
}

.citation_right-name {
    color: #664400;
    font-size: 1.6rem;
    margin-left: 13%;
}

/* price block */
.page5{
    max-height: fit-content;
    background-color: #161616;
    justify-content: space-evenly;
    margin: 0 auto;
}

.page5_price{
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin: 0 auto;

}
.price_block{
    background-color: #000000;
    border: 0 solid #000000;
    border-radius: 2rem;
    width: 46rem;
    height: 50rem;
    margin: 5% 0;
    padding: 3rem;
}
.price_block :hover{
    background-color: #000000;
    width: 50rem;
    height: 53rem;
}

.price_block-top{
    display: flex;
    justify-content: space-around;
    color: #9C9C9C;
    font-size: 3.6rem;
    margin: 3rem 3rem 0 3rem;
}
.price_block-top:hover {
    color: #F6AD09;
}

.price_block-top_right pre:nth-child(1){
    color: #FFFFFF;
}
.price_block-top_right pre:nth-child(2){
    font-size: 1.2rem;
    text-align: end;  
}
.price_block-desc li{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 1rem 2rem;
}
.price_block-desc li::before {
    content: "";
    background-image:  url('../../img/Rectangle57.png');
    width: 2rem;
    height: 1rem;
    display: block;
    position: relative;
    top: 1.6rem;
    left: -3rem;
}
.price_block-btn, .price_block-btn2{
    background-color: #2E2E2E;
    border-radius: 1rem;
    width: 18rem;
    padding: 1.5rem;
    text-align: center;
    margin: 14rem 3rem 3rem;
}
.price_block-btn2{
    margin: 3rem;
}
.price_block-btn, .price_block-btn2:hover{

}
/* contact */
.contact{
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.contact_contato, .contact_info{
    font-family: 'Roboto', sans-serif;
    padding: 1% 10%;
    font-size: 1.8rem;
    font-weight: 400;
    color: #B2B2B2;
}
.contact_header{
    font-size: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
}
.contact_contato a{
    font-size: 1.8rem;
    font-weight: 400;
    color: #B2B2B2;
}

.contact_social a{
    padding: 2rem 2rem 2rem 0rem
}
.contact_info ul {
    padding-inline-start: 0;
    font-family: 'Poppins', sans-serif;
    
}
.contact_info li a{
    font-weight: 500;
    color: #B2B2B2;
    font-size: 1.8rem;
}
.last{
    background-color: #000000;
    padding: 2% 10%;
    font-size: 1.4rem;
    font-family: 'Roboto';
    font-weight: 400;
    color: #9C9C9C;
}

