@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    font-size: 10px;
}

body {
    margin: 10%;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    background-color: pink;
}
ul{
    padding-inline-start: 2.5rem
}
.grid {
    width: 72rem;
    height: 60vh;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1.5fr;
    gap: 2.2rem;

}

.card{
    border: 0rem solid rgb(33, 30, 28);
    background-color: rgb(255, 255, 255);
    gap: 2rem;
    border-radius: 2rem;
    box-shadow: .7rem .7rem 0 0 rgba(0, 0, 0, 1);
    max-height: fit-content;
    padding: 1.35rem;
}
.card_1{
    grid-row: 1/7;
}
.card_1-top{
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
}

.card_1-top img{
    padding-top: 2rem;
}

.card_2{
    grid-column: 2/-1;
    grid-row: 1/3;
}

.card_2-top{
    font-size: 1.4rem;
    font-weight: 700;
}
.card_3{
    grid-row: 3/5;
    box-shadow: .7rem .7rem 0 0 rgba(41, 167, 30, 1);
}
.card_3 span{
    color: rgba(41, 167, 30, 1);
}
.card_4{
    grid-row: 3/6;
    box-shadow: .7rem .7rem 0 0 rgba(225, 53, 53, 1);
}
.card_4 span{
    color: rgba(225, 53, 53, 1);
}
.card_5{
    grid-row: 5/8;
    box-shadow: .7rem .7rem 0 0 rgba(54, 117, 176, 1);
}
.card_5 span{
    color:rgba(54, 117, 176, 1);
}

.card_6{
    grid-row: 6/8;
}

.card_1-disc{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2.5fr;
    width: 70%;
    margin: 0 auto;
    display: grid;
    row-gap: 1.4rem;
    font-size: 1.2rem;
}

.card_1-disc3, .card_1-disc4, .card_1-disc5, .card_1-disc6{
    grid-column: 1/-1;

}
.card_1-disc span{
    font-weight: 600;
}

.card_6 .card_2-descr, .card_2 .card_2-descr{
    padding-top: 1rem;
    padding-left: .5rem;
}

.card_7{
    padding-inline: 3rem;
    text-align: center;
}
